nav {
  height: 40px;
  margin-bottom: 10px;
  
  display: flex;
  justify-content:center;
  align-items: center;
  
  gap: 10px;
  overflow:hidden;
  
  background-color: hsl(0, 0%, 10%);
}

.link {
  text-decoration: none;
  font-size: 1.25em;
  font-weight: bold;
}
