#school-schedule {
  width: auto;
}

#school-schedule-week {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  padding-top: 10px;
  margin: 0px 0px 0px 0px;
}

.title {
  text-align: center;
  font-size: 2em;
}
